* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #43536C;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidebar ul li a::before {
    content: '●';
    margin-right: 10px;
    color: white;
    font-size: 15px;
}

.suggestion-btn {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #43536C;
    cursor: pointer;
    text-align: center;
}

.main-content {
    background-color: #f1f1f1;
    flex-grow: 1;
    padding: 0;
}

.main-content h2 {
    background-color: #43536C;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 0;
}

.resources {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-collapse: collapse;
}

.resource-btn {
    flex: 1;
    border: none;
    background-color: #6d7e98;
    color: white;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.resource-btn:not(:last-child) {
    border-right: 1px solid white;
}

.resource-btn:hover {
    background-color: #5A6A88;
}

.content-display {
    background-color: white;
    padding: 20px;
    min-height: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    font-size: 18px;
}

/* Highlight selected level and resource */
.sidebar ul li a.active {
    background-color: #5A6A88;
    color: #ffffff;
}

.resource-btn.active {
    background-color: #5A6A88;
    color: #ffffff;
}
